/* General styling for the body element: */

.jumbotron {
    background-image: url("../images/green_background_2.jpg");
    background-size: 100% 100%;
    background-position: center;
    text-align: center;
}



body {
   background-image: url("../images/green_background_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    }

  
  h1 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;
    color: dimgray;
    text-shadow: 2px 2px 5px black;
    margin-top: 2rem;
    }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    color: dimgray;
    margin-top: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    color: dimgray;
    margin-top: 1rem;
  }


  p {
    font-size: 1.25rem;
    text-align: left;
    color: black;
    margin-top: 2rem;
  }

  style {
    image-rendering: url("../images/heatmap.png");
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label, input {
    margin: 0.5rem;
  }
  
  button {
    margin-top: 1rem;
  }
  
  /* Styling for the table element: */
  table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: 40%;
    max-width: 550px;
    margin-left: auto;
    margin-right: 0px;
    position: right;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    color: #fff;
  }
  
  th {
    background-color: #4CAF50;
  }
  
  /* Styling for the even table rows: */
  tr:nth-child(even) {
    background-color: rgba(76, 175, 80, 0.7);
  }
  
  /* Styling for the odd table rows: */
  tr:nth-child(odd) {
    background-color: rgba(76, 175, 80, 0.5);
  }
  